*{
	background: url("..img/background.jpg") no-repeat;
    -moz-background-size: 100%; 
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 

}

.container{
	width: 100%;
	
}
.header-bottom{
	position:relative;
}
.header-img{
	width:100%;
}
.bannertext{
	position:absolute; 
	top:10%; 
	width:100%;
	 text-align:center; 
	 color:white;
}
.wrapper {
  background: -webkit-linear-gradient(right, #c56f82, #497ccb);
  background: linear-gradient(270deg, #c56f82, #497ccb);
  height: 100vh;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
button.scroll_down {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height: 50px;
  width: 120px;
  bottom: 60px;
  background-color: #FAEBD7;
  border: 2px solid #DC143C;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
}
button.scroll_down:before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #FAEBD7;
  border-radius: 100%;
  -webkit-animation: scroll_down_btn-animation 2s infinite;
  animation: scroll_down_btn-animation 2s infinite;
  box-sizing: border-box;
}

@keyframes scroll_down_btn-animation {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes scroll_down_btn-animation {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.card-deck{
	padding: 1em;
}
.fouter{
	text-align:center; 
	background:#2a2a2a; 
	padding:1em; 
	color: #fff;
}
.row{
	padding: 1em;
	text-align:center;
}
.method1{
	list-style:none; 
	margin:15px; 
	padding:10px;
	 box-shadow:0 0 5px #aaa;
	background: #FFF; 
	border-radius: 3px;
}
.list1_img{
	float:left; 
	width: 36%;
}
.list1_desc{
	float:left; 
	width:61%; 
	margin-left:1em;
}
.img-responsive{
	padding:0.1em;
}
.list1_text{
	text-align:center; 
	background:#f3f3f3;
}
.style4{
	list-style:none; 
	margin:15px; 
	padding:10px; 
	box-shadow:0 0 5px #aaa;
	background: #FFF; 
	border-radius: 3px; 
	color:black;
}
.list4_img{
	float:left; 
	width: 75%; 
	margin-left:1em;
	border: 2px inset red; 

}
.list4_desc{
	float:left; 
	width:20%; 
	min-width:100px;
}
.form-row{
	margin: 1em;
	padding: 1em;
}
.btn {
	margin: 1em;
	padding: 1em;
	align-self: center;
}
