body{
	font-family: Verdana; 
}
h1{
	color: #006400;
}
article{
	background:#FFFFFF; 
	width: 1000px;
}
article figure{
	width: 500px;
	border: 3px solid #006400;
	padding: 5px;
}
article figure img{
	width: 100%
}
q{
	background-color: #006400;
	color: #FFFFFF ; 
}